<html lang="en">
  <%- include('includes/header') -%>
  <body>
    <div id="main">
      <div class="main container">
        <div class="row">
          <div class="col-md-6">
            <p>Ce lien est éxpiré, veuillez refaire une autre demande de réinitialisation de mot de passe</p>
        </div>
        </div>
      </div>
    </div>
  </body>
  <%- include('includes/footer') -%>
</html>