<!DOCTYPE html>
<html lang="en">
  <%- include('includes/header') -%>
  <body>
    <div id="main">
      <div class="main container">
        <div class="row">
          <div class="col-md-6">
            <p>Un lien vous a été envoyé à l'adresse renseigné au moment de l'enregistrement. veuillez cliquer desssus afin de confirmer votre enregistrement (Checker vos spams) </p>
            <P> Remarque : Ce lien est valable pour 24h</P>
            <h1>Hello, <%- messageInfo.html %></h1>
        </div>
        </div>
      </div>
    </div>
  </body>
  <%- include('includes/footer') -%>
</html>